$default_height: 200px;
$default_width: 200px;

.div-template {
  height: $default_height;
  width: $default_width;
}

body {
  margin: 0;
  font-family: verdana, sans-serif;
  font-family: "Merriweather", serif;
  text-align: center; ///////////////////
}

.middle-container {
  text-align: center;
  .skill-row {
    width: 50%;
    margin: 200px auto 200px auto; // Було 100px !!!
    text-align: left;
    line-height: 2;
  }
}
.bottom-container {
}

h1 {
  font-size: 5.629rem; // = 90px   / 1rem = 16px
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  // line-height: 2;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

.top-container {
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.profile {
  color: #40514e;
}

.pro {
  text-decoration: underline;
  // visibility: hidden;
}

.top-cloud {
  position: absolute;
  top: 50px;
  margin-left: 120px;
  // right: 300px;
}

.bottom-cloud {
  position: absolute;
  // left: 300px;
  // bottom: 300px;
}

.react-img {
  width: 25%;
  height: 25%;
  float: left;
  border-radius: 50%;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.my-photo {
  border-radius: 50%;
}