$default_height: 200px;
$default_width: 200px;

.div-template {
  height: $default_height;
  width: $default_width;
}

.middle-container {
  .skills,
  .skill-row {
    width: 50%;
    display: inline-block;
  }
}
.bottom-container {
}

body {
  margin: 0;
  font-family: verdana, sans-serif;
  font-family: "Merriweather", serif;
  // text-align: center; ///////////////////
}

h1 {
  font-size: 5.629rem; // = 90px   / 1rem = 16px
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  // line-height: 2;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.pro {
  text-decoration: underline;
  // visibility: hidden;
}

.top-cloud {
  position: absolute;
  top: 50px;
  margin-left: 120px;
  // right: 300px;
}

.bottom-cloud {
  position: absolute;
  // left: 300px;
  // bottom: 300px;
}
