body {
  font-family: 'Sono', sans-serif;
}

.pricing-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 30px
}

.pricing-plan {
  // transition: margin-top 4s;
  // margin-top: 100px;
  width: 450px;
  height: 300px;
  background-color: #D6E6F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  // gap: 10px;
  // justify-content: center;
}

.plan-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
}

.plan-price{
  font-size: 3rem;
  font-weight: 600;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  background-color: rgb(241, 104, 54);
  color: white;
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s, width ease-out 1s;
  // transition: width 3s ease-in-out;
  &:hover {
    background-color: red;
    width: 100px;
    height: 45px;
  }
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
  }
}